In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines = True)

In [4]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def wordcount(str):
  count = dict()
  words = str.split()
  for i in words:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  return count

In [0]:
data['reviewText_word_count'] = data['reviewText'].apply(wordcount)

In [8]:
data['reviewText_word_count']

0        {'I': 7, 'bought': 1, 'my': 4, 'first': 1, 'HP...
1        {'WHY': 1, 'THIS': 2, 'BELATED': 1, 'REVIEW?':...
2        {'I': 2, 'have': 2, 'an': 2, 'HP': 3, '48GX': ...
3        {'I've': 4, 'started': 1, 'doing': 2, 'more': ...
4        {'For': 1, 'simple': 1, 'calculations': 2, 'an...
                               ...
53253    {'What': 1, 'I': 1, 'like': 1, 'about': 1, 'th...
53254    {'This': 1, 'Accuteck': 2, 'ShipPro': 2, 'digi...
53255    {'I': 6, 'ship': 1, 'a': 10, 'lot': 1, 'of': 7...
53256    {'This': 1, 'is': 4, 'a': 5, 'great': 2, 'litt...
53257    {'When': 1, 'asked': 1, 'to': 9, 'review': 1, ...
Name: reviewText_word_count, Length: 53258, dtype: object

In [0]:
data['summary_word_count'] = data['summary'].apply(wordcount)

In [10]:
data.head()

       reviewerID  ...                                 summary_word_count
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 11 columns]