In [0]:
import pandas as pd
import re

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [10]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def vowcons(data):
    data1 = data['reviewText']
    data1 = data1.lower()
    data1 = re.sub(r'[^a-z0-9\s]', '', data1)
    vowel_count=0
    consonant_count=0
    for letter in data1:
        if letter in ['a', 'e', 'i', 'o', 'u']:
            vowel_count+=1
        elif letter.isalpha():
            consonant_count+=1
    data1 = data1.split(' ')
    return {'vowel_count':vowel_count,'consonant_count': consonant_count}

In [0]:
data['reviewText_VowConsCount'] = data.apply(vowcons, axis=1)

In [13]:
data.head()

       reviewerID  ...                         reviewText_VowConsCount
0  A32T2H8150OJLU  ...    {'vowel_count': 279, 'consonant_count': 437}
1  A3MAFS04ZABRGO  ...  {'vowel_count': 1504, 'consonant_count': 2685}
2  A1F1A0QQP2XVH5  ...    {'vowel_count': 134, 'consonant_count': 235}
3   A49R5DBXXQDE5  ...  {'vowel_count': 1089, 'consonant_count': 1775}
4  A2XRMQA6PJ5ZJ8  ...    {'vowel_count': 208, 'consonant_count': 338}

[5 rows x 10 columns]

In [14]:
data['reviewText_VowConsCount']

0          {'vowel_count': 279, 'consonant_count': 437}
1        {'vowel_count': 1504, 'consonant_count': 2685}
2          {'vowel_count': 134, 'consonant_count': 235}
3        {'vowel_count': 1089, 'consonant_count': 1775}
4          {'vowel_count': 208, 'consonant_count': 338}
                              ...
53253      {'vowel_count': 236, 'consonant_count': 358}
53254     {'vowel_count': 839, 'consonant_count': 1308}
53255      {'vowel_count': 422, 'consonant_count': 693}
53256      {'vowel_count': 232, 'consonant_count': 335}
53257      {'vowel_count': 582, 'consonant_count': 901}
Name: reviewText_VowConsCount, Length: 53258, dtype: object