In [0]:
import pandas as pd
import re

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [3]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
data1 = data.iloc[0,4]
data1 = re.sub(r'[^A-Za-z0-9\s]', ' ', data1)

In [5]:
data1

'I bought my first HP12C in about 1984 or so  and it served me faithfully until 2002 when I lost it while travelling   I searched for another one to replace it  but found one difficult to come by in my area   So  I decided to buy up and purchased an HP 49G   What a mistake   I know that many people view the HP 49G  now 49G   as the flagship of the HP line  but for me that was a disaster The 49G may be powerful  but using it is extremely counterintuitive   and the manual was sketchy at best   The 12C  on the other hand  does what I need in a way that makes good sense to me If you are looking for a solid  reliable calculator  the HP12C may be for you   It s programmable   It does basic statistics well  and many business applications too   The manual makes sense  you will be up and running in short order I m ready to set my 49G aside and move back to my old friend   I didn t even have to replace the batteries in well over a decade of use HP 12C  I m coming home '

In [0]:
final=re.findall(r'\s[Bb]\w*\s|\s\w*[Gg]\s', data1)

In [7]:
final

[' bought ',
 ' travelling ',
 ' but ',
 ' by ',
 ' buy ',
 ' 49G ',
 ' 49G ',
 ' 49G ',
 ' but ',
 ' 49G ',
 ' be ',
 ' but ',
 ' best ',
 ' looking ',
 ' be ',
 ' basic ',
 ' business ',
 ' be ',
 ' running ',
 ' 49G ',
 ' back ',
 ' batteries ',
 ' coming ']